@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-gredient-1 {
  background: #00C9FF;
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gredient-2 {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

body>div {
  overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111113;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d1d21;
}


/*====================================================================
nav bar
====================================================================*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  z-index: 100;
}


nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 10px 10px;
  flex-wrap: wrap;
}

nav .logo {
  height: 32px;
  width: auto;
  margin-top: -10px;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -7px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #23c483;
}

.dropdown:hover .dropdown-content {
  display: block;
}


nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav .menu-btn i {
  color: rgb(0, 0, 0);
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

nav ul li a.active,
nav ul li a:hover {
  background: none;
  color: #ff0000;
}

.dropdown:hover .material-symbols-outlined {
  transform: rotate(180deg);
  transition: 0.5s;
}

.arr-container {
  display: table;
}

.dropdown .material-symbols-outlined {
  display: table-cell;
  vertical-align: middle;

}

/* -----btn style----- */

/* From uiverse.io */
.nav-btn {
  padding: 1.0em 2.4em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.nav-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

/* ---- btn style end---- */

@media (max-width: 1000px) {

  nav {
    padding: 0 40px 0 50px;
  }

  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-right: 20px;
    display: block;
    transition: all 0.3s ease;
    z-index: 100;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ff0000;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: -50px;
    margin-bottom: -30px;
  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 0;
    border-radius: 10px;
    margin-top: -45px;
  }

}

@media (max-width: 420px) {

  nav .logo {
    height: 33px;
    width: auto;
    margin-top: 10px;
  }

  nav {
    padding: 15px 15px 10px 10px;
  }

}


/* =========== section-1 =========== */

.section-1-wrapper {
    background-image: url('..//images/appdev_hero.png');
    width: 100%;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    margin-top: 65px;
}

.section-1-sub-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.section-1-header {
    text-align: center;
    color: rgb(33, 33, 33);
    font-weight: 900;
    font-size: 65px;
    text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0px 20px;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand end
 * ----------------------------------------
 */


@media (max-width: 480px) {
    .section-1-header {
        font-size: 45px;
    }

    .section-1-wrapper {
        margin-top: 65px;
    }
}

@media (max-width: 320px) {
    .section-1-header {
        font-size: 30px;
    }
}


/* =========== section-2 =========== */

.section-2-wrapper {
    min-height: 60vh;
    display: table;
    max-width: 1280px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.s2-text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.s2-header {
    font-weight: 900;
    font-size: 2.5rem;
}

.s2-para {
    font-weight: 500;
    font-size: 1.0rem;
}

/* From uiverse.io by @alexroumi */
.s2-btn {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #000000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    color: white;
    margin-top: 10px;
}

.s2-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 250ms
}

.s2-btn:hover {
    color: #000000;
}

.s2-btn:hover::before {
    width: 100%;
}







/*====================================================================
footer
====================================================================*/

.footer {
    border-top: 1px solid #8184944d;
    /* background: #ebf4fa; */
    padding-bottom: 0px;
  }
  
  .logo-footer {
    width: auto;
    height: 25px;
    margin-top: 10px;
    transition-duration: 0.5s;
  }
  
  .site-footer {
    padding-bottom: 0px;
  }
  
  .footer .links ul {
    list-style-type: none;
    text-decoration: none;
  }
  
  .footer .links li a {
    /* color: #818494; */
    color: black;
    transition: color 0.2s;
    text-decoration: none;
  }
  
  .footer .links li a:hover {
    text-decoration: none;
    /* color: #4180cb; */
  }
  
  .footer .about-company i {
    font-size: 25px;
  }
  
  .footer .about-company a {
    color: #818494;
    transition: color 0.2s;
  }
  
  .footer .about-company a:hover {
    color: #4180cb;
  }
  
  .footer .location i {
    font-size: 18px;
  }
  
  .footer .copyright p {
    /* border-top: 1px solid #818494; */
    color: #818494;
    width: 100%;
  }
  
  .box {
    height: fit-content;
    padding: 15px 10px;
    border-top: 1px solid #8184944d;
  }
  
  .box-wrapper {
    width: 100%;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
  }
  
  .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bx-para-1 {
    padding-top: 15px;
  }
  
  .bx-para-2 {
    margin-top: 15px;
  }
  
  /* style for social tooltip */
  
  *:focus,
  *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }
  
  
  .wrapper {
    display: inline-flex;
  }
  
  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
  }
  
  
  @media (max-width: 480px) {
  
    .box-container {
      display: flex;
      flex-direction: column;
    }
  
    .bx-para-1 {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  
    .bx-para-2 {
      margin-top: 10px;
    }
  
    .logo-footer {
      margin-top: 0px;
    }
  
  }

  
/*====================================================================
pre-loader
====================================================================*/

.invissible{
  visibility: hidden;
  display: block;  
}

#preloader{
  text-align: center;

  position: relative;
  top: 45%;
}

.loader-para{
  text-align: center;
  font-size: 21px;
  font-weight:500;
  color: #2f3545;
}

/* From uiverse.io by @mobinkakei */
.loader {
  --path: #2f3545;
  --dot: #28ee56;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

 