@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-gredient-1 {
  background: #00C9FF;
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gredient-2 {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

body>div {
  overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111113;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d1d21;
}




/* =========== section-2 =========== */

.section-1-wrapper {
    min-height: 100vh;
    display: table;
    max-width: 1280px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.s1-text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.s1-header {
    font-weight: 900;
    font-size: 2.5rem;
}

.s1-para {
    font-weight: 500;
    font-size: 1.0rem;
}

/* From uiverse.io by @alexroumi */
.s1-btn {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #000000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    color: white;
    margin-top: 10px;
}

.s1-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 250ms
}

.s1-btn:hover {
    color: #000000;
}

.s1-btn:hover::before {
    width: 100%;
}

