@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-gredient-1 {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gredient-2 {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

body > div {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111113;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d1d21;
}

/*====================================================================
nav bar
====================================================================*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  z-index: 100;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 10px 10px;
  flex-wrap: wrap;
}

nav .logo {
  height: 32px;
  width: auto;
  margin-top: -10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #23c483;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav .menu-btn i {
  color: rgb(0, 0, 0);
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

nav ul li a.active,
nav ul li a:hover {
  background: none;
  color: #ff0000;
}

.dropdown:hover .material-symbols-outlined {
  transform: rotate(180deg);
  transition: 0.5s;
}

.arr-container {
  display: table;
}

.dropdown .material-symbols-outlined {
  display: table-cell;
  vertical-align: middle;
}

/* -----btn style----- */

/* From uiverse.io */
.nav-btn {
  padding: 1em 2.4em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.nav-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

/* ---- btn style end---- */

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }

  nav .menu-btn i {
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-right: 20px;
    display: block;
    transition: all 0.3s ease;
    z-index: 100;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ff0000;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: -50px;
    margin-bottom: -30px;
  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 0;
    border-radius: 10px;
    margin-top: -45px;
  }
}

@media (max-width: 420px) {
  nav .logo {
    height: 33px;
    width: auto;
    margin-top: 10px;
  }

  nav {
    padding: 15px 15px 10px 10px;
  }
}

/* =========== section-1 =========== */

.section-1-wrapper {
  background-image: url("..//images/pricing_hero.png");
  width: 100%;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  margin-top: 45px;
}

.section-1-sub-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.section-1-header {
  text-align: center;
  color: rgb(33, 33, 33);
  font-weight: 900;
  font-size: 65px;
  text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0px 20px;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand end
 * ----------------------------------------
 */

@media (max-width: 480px) {
  .section-1-header {
    font-size: 45px;
  }

  .section-1-wrapper {
    margin-top: 45px;
  }
}

@media (max-width: 320px) {
  .section-1-header {
    font-size: 30px;
  }
}

/*====================================================================
section-2
====================================================================*/

.section-2-wrapper {
  width: 100%;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

.tabs {
  /* left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    min-width: 95%; */
  padding: 20px;
  padding-bottom: 40px;
}

.tabs input[name="tab-control"] {
  display: none;
}

.tabs .content section h2,
.tabs .tab-list .tab-list-tsb label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.tabs .tab-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tabs .tab-list .tab-list-tsb {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

.tabs .tab-list .tab-list-tsb label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs .tab-list .tab-list-tsb label br {
  display: none;
}

.tabs .tab-list .tab-list-tsb label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}

.tabs .tab-list .tab-list-tsb label:hover,
.tabs .tab-list .tab-list-tsb label:focus,
.tabs .tab-list .tab-list-tsb label:active {
  outline: 0;
  color: #bec5cf;
}

.tabs .tab-list .tab-list-tsb label:hover svg,
.tabs .tab-list .tab-list-tsb label:focus svg,
.tabs .tab-list .tab-list-tsb label:active svg {
  fill: #bec5cf;
}

.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #000000;
  border-radius: 1px;
}

.tabs .content {
  margin-top: 30px;
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}

.tabs .content section h2 {
  color: #000000;
  display: none;
}

.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #000000;
  margin-top: 5px;
  left: 1px;
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > .tab-list-tsb:nth-child(1)
  > label {
  cursor: default;
  color: #000000;
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > .tab-list-tsb:nth-child(1)
  > label
  svg {
  fill: #000000;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > .tab-list-tsb:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}

.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > .tab-list-tsb:nth-child(2)
  > label {
  cursor: default;
  color: #000000;
}

.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > l.tab-list-tsbi:nth-child(2)
  > label
  svg {
  fill: #000000;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > .tab-list-tsb:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}

.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}

.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > .tab-list-tsb:nth-child(3)
  > label {
  cursor: default;
  color: #000000;
}

.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > .tab-list-tsb:nth-child(3)
  > label
  svg {
  fill: #000000;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > .tab-list-tsb:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}

.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}

.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > .tab-list-tsb:nth-child(4)
  > label {
  cursor: default;
  color: #000000;
}

.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > .tab-list-tsb:nth-child(4)
  > label
  svg {
  fill: #000000;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > .tab-list-tsb:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}

.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 1000px) {
  .tabs .tab-list .tab-list-tsb label {
    white-space: initial;
  }

  .tabs .tab-list .tab-list-tsb label br {
    display: initial;
  }

  .tabs .tab-list .tab-list-tsb label svg {
    height: 1.5em;
  }
}

@media (max-width: 600px) {
  .tabs .tab-list .tab-list-tsb label {
    padding: 5px;
    border-radius: 5px;
  }

  .tabs .tab-list .tab-list-tsb label span {
    display: none;
  }

  .tabs .slider {
    display: none;
  }

  .tabs .content {
    margin-top: 20px;
  }

  .tabs .content section h2 {
    display: block;
  }
}

/*====================================================================
pricing tab section
====================================================================*/

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}

.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing-action {
  color: inherit;
  border: none;
  background: none;
}

.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  text-align: left;
}

.pricing-palden .pricing-item {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  color: #84697c;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em;
}

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em -0.5em;
  }

  .pricing-palden .pricing__item--featured {
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing-palden .pricing-deco {
  border-radius: 10px 10px 0 0;
  background-color: #23c483;
  padding: 4em 0 9em;
  position: relative;
}

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-palden .pricing-price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}

.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center;
}

.pricing-palden .pricing-feature {
  padding: 1em 0;
}

.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: #100a13;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pricing-palden .pricing-action:hover,
.pricing-palden .pricing-action:focus {
  background-color: #100a13;
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}

/*====================================================================
tab-content section
====================================================================*/

.tab-content-wrapper {
  min-height: 50vh;
  display: table;
  max-width: 1280px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.tab-content-text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.tab-content-header {
  font-weight: 900;
  font-size: 2.5rem;
}

.tab-content-para {
  font-weight: 500;
  font-size: 1rem;
}

/* From uiverse.io by @alexroumi */
.tab-content-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #000000;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  color: white;
  margin-top: 10px;
}

.tab-content-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #ffffff;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
  transition: all 250ms;
}

.tab-content-btn:hover {
  color: #000000;
}

.tab-content-btn:hover::before {
  width: 100%;
}

/*====================================================================
section-6
====================================================================*/

.s6-bg-container {
  background-color: #e4f8fe;
}

.section-6-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.s6-sub-wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.s6-text-wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  line-height: 100%;
}

.s6-header {
  font-size: 2.8rem;
  line-height: 110%;
  font-weight: 900;
  font-family: Aleo, arial, sans-serif;
  text-transform: capitalize;
  text-align: left;
  color: rgb(0, 0, 0);
}

.s6-header-pt-2 {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s6-para {
  -webkit-text-size-adjust: none;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #646a89;
  -webkit-box-direction: reverse;
  line-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  margin: 0;
  border: 0;
  font-size: 100%;
  padding-top: 0;
  text-align: left;
}

.s6-input-wrapper {
  float: right;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.btn2 {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn2:focus {
  background: #7f8ff4;
  color: #fff;
}

.btn2--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  padding: 12px 26px;
  border-radius: 10px;
}

.btn2--primary:hover {
  background: #6c7ff2;
  color: white;
}

.btn2--inside {
  margin-left: -96px;
}

.form {
  margin-top: 20px;
}

.form__field {
  width: 360px;
  background: #fff;
  color: #000000;
  font: inherit;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 22px 18px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .s6-sub-wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .s6-header {
    font-size: 2.4rem;
    line-height: 110%;
    font-weight: 900;
    font-family: Aleo, arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .s6-para {
    text-align: center;
  }

  .form__field {
    width: 100%;
    background: #fff;
    color: #000000;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 22px 35px;
  }

  .btn2--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 12px 36px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .section-6-wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .s6-text-wrapper {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .s6-header {
    font-size: 2.4rem;
    line-height: 110%;
    font-weight: 900;
    font-family: Aleo, arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .s6-para {
    text-align: center;
  }

  .form__field {
    width: 100%;
    background: #fff;
    color: #000000;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 22px 35px;
  }

  .btn2--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 12px 36px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}

/*====================================================================
footer
====================================================================*/

.footer {
  border-top: 1px solid #8184944d;
  /* background: #ebf4fa; */
  padding-bottom: 0px;
}

.logo-footer {
  width: auto;
  height: 25px;
  margin-top: 10px;
  transition-duration: 0.5s;
}

.site-footer {
  padding-bottom: 0px;
}

.footer .links ul {
  list-style-type: none;
  text-decoration: none;
}

.footer .links li a {
  /* color: #818494; */
  color: black;
  transition: color 0.2s;
  text-decoration: none;
}

.footer .links li a:hover {
  text-decoration: none;
  /* color: #4180cb; */
}

.footer .about-company i {
  font-size: 25px;
}

.footer .about-company a {
  color: #818494;
  transition: color 0.2s;
}

.footer .about-company a:hover {
  color: #4180cb;
}

.footer .location i {
  font-size: 18px;
}

.footer .copyright p {
  /* border-top: 1px solid #818494; */
  color: #818494;
  width: 100%;
}

.box {
  height: fit-content;
  padding: 15px 10px;
  border-top: 1px solid #8184944d;
}

.box-wrapper {
  width: 100%;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bx-para-1 {
  padding-top: 15px;
}

.bx-para-2 {
  margin-top: 15px;
}

/* style for social tooltip */

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

@media (max-width: 480px) {
  .box-container {
    display: flex;
    flex-direction: column;
  }

  .bx-para-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .bx-para-2 {
    margin-top: 10px;
  }

  .logo-footer {
    margin-top: 0px;
  }
}


/*====================================================================
pre-loader
====================================================================*/

.invissible{
  visibility: hidden;
  display: block;  
}

#preloader{
  text-align: center;

  position: relative;
  top: 45%;
}

.loader-para{
  text-align: center;
  font-size: 21px;
  font-weight:500;
  color: #2f3545;
}

/* From uiverse.io by @mobinkakei */
.loader {
  --path: #2f3545;
  --dot: #28ee56;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

 