@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-gredient-1 {
  background: #00C9FF;
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gredient-2 {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

body>div {
  overflow-x: hidden;
}

.bg-wrapper {  
  background-image: url('..//images/body-bg2.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;  
}

.desktop-view {
  display: block;
  visibility: visible;
}

.mobile-view {
  display: none;
  visibility: hidden;
}

@media (max-width: 480px) {

  .mobile-view {
    display: block;
    visibility: visible;
  }

  .desktop-view {
    display: none;
    visibility: hidden;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111113;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d1d21;
}


/*====================================================================
nav bar
====================================================================*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  z-index: 100;
}


nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 10px 10px;
  flex-wrap: wrap;
}

nav .logo {
  height: 32px;
  width: auto;
  margin-top: -10px;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -7px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #23c483;
}

.dropdown:hover .dropdown-content {
  display: block;
}


nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav .menu-btn i {
  color: rgb(0, 0, 0);
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

nav ul li a.active,
nav ul li a:hover {
  background: none;
  color: #ff0000;
}

.dropdown:hover .material-symbols-outlined {
  transform: rotate(180deg);
  transition: 0.5s;
}

.arr-container {
  display: table;
}

.dropdown .material-symbols-outlined {
  display: table-cell;
  vertical-align: middle;

}

/* -----btn style----- */

/* From uiverse.io */
.nav-btn {
  padding: 1.0em 2.4em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.nav-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

/* ---- btn style end---- */

@media (max-width: 1000px) {

  nav {
    padding: 0 40px 0 50px;
  }

  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-right: 20px;
    display: block;
    transition: all 0.3s ease;
    z-index: 100;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ff0000;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: -50px;
    margin-bottom: -30px;
  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 0;
    border-radius: 10px;
    margin-top: -45px;
  }

}

@media (max-width: 420px) {

  nav .logo {
    height: 33px;
    width: auto;
    margin-top: 10px;
  }

  nav {
    padding: 15px 15px 10px 10px;
  }

}



/*====================================================================
section-1
====================================================================*/

.section-1-wrapper {
  background-image: url('..//images/portfolio_hero.png');
  width: 100%;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  margin-top: 95px;
}

.section-1-sub-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.section-1-header {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 75px;
  text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0px 20px;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand end
 * ----------------------------------------
 */


@media (min-width: 1400px) {
  .section-1-header {
    font-size: 85px;
  }
}

@media (max-width: 480px) {
  .section-1-header {
    font-size: 65px;
  }

  .section-1-wrapper {
    margin-top: 35px;
  }

}

@media (max-width: 320px) {
  .section-1-header {
    font-size: 50px;
  }
}




/*====================================================================
section-hero
====================================================================*/


.section-hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-sub-Wrapper {
  max-width: 1280px;
  padding-bottom: 60px;
  margin-top: 30px;
}

.hero-card-num {
  font-weight: 900;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 3rem;
}

.hero-card-txt {
  font-weight: 900;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.hero-img {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.hero-text-wrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  display: table;
}

.hero-text-sub-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.hero-header {
  font-size: 2.4rem;
  line-height: 100%;
  font-weight: 900;
  color: #000000;
  font-family: Aleo, arial, sans-serif;
  text-transform: capitalize;
}

.hero-para {
  -webkit-text-size-adjust: none;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #646A89;
  text-align: left;
  -webkit-box-direction: reverse;
  line-height: 170%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  margin: 0;
  border: 0;
  font-size: 100%;
  padding-top: 0;
}

/* From uiverse.io by @alexroumi */
.btn-hero {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #ffffff;
  z-index: 1;
  background: #756bff;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px #756bff;
  box-shadow: 4px 8px 19px -3px #756bff;
  transition: all 250ms;
  overflow: hidden;
  margin: 20px 0px;
}

.btn-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

.btn-hero:hover {
  color: #e8e8e8;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.btn-hero:hover::before {
  width: 100%;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.desktop-view {
  display: block;
  visibility: visible;
}

.mobile-view {
  display: none;
  visibility: hidden;
}

@media (max-width: 900px) {

  .mobile-view {
    display: block;
    visibility: visible;
  }

  .desktop-view {
    display: none;
    visibility: hidden;
  }

  .grid-container-hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-text-wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
  }

  .hero-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }

  
  .grid-child-hero:nth-of-type(1) {
    order: 2;
  }

  .grid-child-hero:nth-of-type(2) {
    order: 1;
  }

}

@media (max-width: 480px) {

  .section-hero-wrapper {
    background-image: none;
  }


}


/*====================================================================
section-2
====================================================================*/

.section-2-wrapper{
  width: 100%;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

.card{  
  background-color: #575757;
  border-radius: 15px;
  height: 300px;
  margin: 10px 10px;
  border: none;
  /* width: 90%;
  display: block;
  margin: 0 auto; */
}

/* .config-1{
  background-image: url('..//images/port1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */



.abs,
.s2-card-header:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}
.rel,
.s2-card-header,
.s2-card-header strong,
.cards .card,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
.s2-card-header,
.s2-card-header strong,
.s2-card-header span {
  vertical-align: middle;
}


.s2-card-header {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 2.3rem!important;
  margin-bottom: 10px;
}
.s2-card-header strong {
  z-index: 2;
  background: #24282f;
  padding: 4px 8px;
}

.s2-card-header:after {
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
}
.cards,
.news {
  flex-flow: row wrap;
}
.cards .card,
.news .card {
  /* margin: 20px; */
  overflow: hidden;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.8); */
  transform-origin: center top;
  transform-style: preserve-3d;
  /* transform: translateZ(0); */
  transition: 0.3s;
}
.cards .card img,
.news .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}
.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  /* box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6); */
  /* transform: translateY(-3px) scale(1.05) rotateX(15deg); */
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
.news .article {
  overflow: hidden;
  /* margin: 20px; */
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  /* color: #3792e3; */
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  /* transform: scale(0.97); */
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}


/* --------- btn style --------- */

/* From uiverse.io by @nikk7007 */
.button {
  --color: #ffffff;
  padding: 0.6em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  border-radius: 25px;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(0, 0, 0);
  border: 1px solid white;
  background-color: white;
}

.button:active {
  filter: brightness(.8);
}


/*====================================================================
section-3
====================================================================*/

.container-s3 {
  background-image: linear-gradient(45deg,
      hsl(0deg 0% 0%) 0%,
      hsl(240deg 100% 6%) 6%,
      hsl(240deg 100% 6%) 12%,
      hsl(240deg 100% 6%) 19%,
      hsl(241deg 98% 7%) 27%,
      hsl(241deg 93% 7%) 34%,
      hsl(241deg 87% 7%) 41%,
      hsl(240deg 83% 7%) 49%,
      hsl(238deg 75% 8%) 55%,
      hsl(230deg 70% 10%) 62%,
      hsl(225deg 73% 12%) 67%,
      hsl(224deg 72% 14%) 72%,
      hsl(223deg 71% 16%) 77%,
      hsl(222deg 70% 18%) 81%,
      hsl(222deg 70% 20%) 84%,
      hsl(221deg 70% 22%) 87%,
      hsl(212deg 86% 24%) 90%,
      hsl(205deg 100% 27%) 92%,
      hsl(202deg 100% 32%) 94%,
      hsl(198deg 100% 36%) 96%,
      hsl(195deg 100% 40%) 97%,
      hsl(192deg 100% 44%) 98%,
      hsl(188deg 100% 47%) 99%,
      hsl(185deg 100% 50%) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-3-wrapper {
  max-width: 1280px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.cards-list-s3 {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-s3 {
  margin: 20px auto;
  width:  300px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card-s3:hover {
  transform: scale(0.9, 0.9);
  box-shadow: rgba(84, 86, 89, 0.2) 0px 8px 24px;
}

@media all and (max-width: 500px) {
  .card-list-s3 {
    flex-direction: column;
  }
}

.welcome.type_one {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.card-header-s3 {
  margin-bottom: -1px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
  background-color: transparent;
  border: none;
  color: white;
}

.card-para-s3 {
 color: white;
}

.icon_box.type_one {
  position: relative;
  padding: 30px 30px;
  color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  overflow: hidden;
}

@media(max-width:3000px) and (min-width:992px) {
  .icon_box.type_one {
    min-height: 304px;
  }
}

.icon-bg {
  background-color: #000000;
background-image: linear-gradient(62deg, #000000 0%, #3a3a3a 100%);

  height: 110px;
  width: 110px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.icon_box.type_one .icon {
  position: relative;
  z-index: 0;
}

.icon_box.type_one .svg_image {
  font-size: 3rem;
  color: white;
}

.icon_box.type_one .icon:before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.icon_box.type_one.last .icon:before {
  background: #3483d4;
}

.icon_box.type_one.last p {
  color: #fff;
}

.icon_box.type_one span {
  display: block;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.icon_box.type_one:hover .icon span {
  color: #000000;
}

.icon_box.type_one.last span {
  opacity: .1;
}

.icon_box.type_one h2 a {
  font-size: 18px;
  display: block;
  line-height: 28px;
  margin-bottom: 8px;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}


/*====================================================================
section-4
====================================================================*/


.section-4-wrapper {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.s4-main-header {
  font-weight: 900;
  text-align: center;
  font-size: 3.0rem;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  line-height: 100%;
}

.s4-main-container-bg{
  /* background-image: url('img/herobg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%!important;
}


.s4-main-container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.s4-img {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txt-continer {
  display: table;
}

.txt-sub-continer {
  float: left;
  margin-top: 25%;
}

.cards-list {
  z-index: 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.contact-wrapper {
  display: inline-flex;
  width: 95%;
  margin: 0 auto;
}

.para-wrapper {
  display: inline-flex;
}

.s2-para-wrapper {
  margin-top: 15px;
  color: rgb(0, 0, 0);
}

.s2-para-wrapper-social {
  margin-top: 25px;
  margin-left: -20px;
  color: rgb(0, 0, 0);
}

.s2-pb {
  text-align: left;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* From uiverse.io */
.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  height: 65px;
  width: 65px;
  display: inline-block;
  border-radius: 50%;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
}

.btn-1 {
  background: #000000;
  color: rgb(255, 255, 255);
}

.btn-2 {
  background: #000000;
  color: rgb(255, 255, 255);
}

.btn-3 {
  background: #000000;
  color: rgb(255, 255, 255);
  margin-right: 30px;
}

.btn-4 {
  background: #000000;
  color: rgb(255, 255, 255);
  margin-right: 30px;
}

.btn-5 {
  background: #000000;
  color: rgb(255, 255, 255);
  margin-right: 30px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  color: white;
}

.social-media-wrapper {
  display: inline-flex;
}

@media all and (max-width: 900px) {

  .contact-wrapper {
    display: grid;
    width: 95%;
    margin: 0 auto;
  }

  .s4-main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .s4-main-header {
    font-size: 2.7rem;
  }

  .s4-img {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .txt-continer {
    display: table;
  }
  
  .txt-sub-continer {
    float: left;
    margin-top: 5%;
    padding-left: 20px;
  }


}

@media all and (max-width: 480px) {

  .contact-wrapper {
    display: grid;
    width: 95%;
    margin: 0 auto;
  }

}

.grid-child-s4:nth-of-type(1) {
  order: 2;
}

.grid-child-s4:nth-of-type(2) {
  order: 1;
}

@media screen and (max-width: 900px) {

  .s4-main-container {
    display: grid;
    grid-template-columns: 1fr;
  }


  .grid-child-s4:nth-of-type(1) {
    order: 1;
  }

  .grid-child-s4:nth-of-type(2) {
    order: 2;
  }

  .txt-sub-continer {
    float: left;
  }

  .s4-main-header {
    font-size: 2.3rem;
  }

}


/*====================================================================
section-6
====================================================================*/

.s6-bg-container {
  background-color: #e4f8fe;
}

.section-6-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.s6-sub-wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.s6-text-wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  line-height: 100%;
}


.s6-header {
  font-size: 2.8rem;
  line-height: 110%;
  font-weight: 900;
  font-family: Aleo, arial, sans-serif;
  text-transform: capitalize;
  text-align: left;
  color: rgb(0, 0, 0);
}

.s6-header-pt-2 {
  background: #00C9FF;
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s6-para {
  -webkit-text-size-adjust: none;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #646A89;
  -webkit-box-direction: reverse;
  line-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  margin: 0;
  border: 0;
  font-size: 100%;
  padding-top: 0;
  text-align: left;
}

.s6-input-wrapper {
  float: right;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.btn2 {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn2:focus{
  background: #7f8ff4;
  color: #fff;
}

.btn2--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  padding: 12px 26px;
  border-radius: 10px;
}

.btn2--primary:hover {
  background: #6c7ff2;
  color: white;
}

.btn2--inside {
  margin-left: -96px;
}

.form {
  margin-top: 20px;
}

.form__field {
  width: 360px;
  background: #fff;
  color: #000000;
  font: inherit;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 22px 18px;
  border-radius: 10px;
}

@media (max-width: 900px) {

  .s6-sub-wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .s6-header {
    font-size: 2.4rem;
    line-height: 110%;
    font-weight: 900;
    font-family: Aleo, arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .s6-para {
    text-align: center;
  }

  .form__field {
    width: 100%;
    background: #fff;
    color: #000000;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 22px 35px;
  }

  .btn2--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 12px 36px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 480px) {

  .section-6-wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .s6-text-wrapper {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .s6-header {
    font-size: 2.4rem;
    line-height: 110%;
    font-weight: 900;
    font-family: Aleo, arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .s6-para {
    text-align: center;
  }

  .form__field {
    width: 100%;
    background: #fff;
    color: #000000;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 22px 35px;
  }

  .btn2--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 12px 36px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

}

/*====================================================================
footer
====================================================================*/

.footer {
  border-top: 1px solid #8184944d;  
  /* background: #ebf4fa; */
  padding-bottom: 0px;
}

.logo-footer {
  width: auto;
  height: 25px;
  margin-top: 10px;
  transition-duration: 0.5s;
}

.site-footer {
  padding-bottom: 0px;
}

.footer .links ul {
  list-style-type: none;
  text-decoration: none;
}

.footer .links li a {
  /* color: #818494; */
  color: black;
  transition: color 0.2s;
  text-decoration: none;
}

.footer .links li a:hover {
  text-decoration: none;
  /* color: #4180cb; */
}

.footer .about-company i {
  font-size: 25px;
}

.footer .about-company a {
  color: #818494;
  transition: color 0.2s;
}

.footer .about-company a:hover {
  color: #4180cb;
}

.footer .location i {
  font-size: 18px;
}

.footer .copyright p {
  /* border-top: 1px solid #818494; */
  color: #818494;
  width: 100%;
}

.box{
  height: fit-content;
  padding: 15px 10px;
  border-top: 1px solid #8184944d;
}

.box-wrapper{
  width: 100%;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

.box-container{
  display: flex;  
  align-items: center;
  justify-content: space-between;  
}

.bx-para-1{
  padding-top: 15px;
}

.bx-para-2{
  margin-top: 15px;
}

/* style for social tooltip */

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background-color: #333333;
color: #ffffff;
}



@media (max-width: 480px) {

  .box-container{
    display: flex;  
    flex-direction: column;
  }

  .bx-para-1{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .bx-para-2{
    margin-top: 10px;
  }

  .logo-footer{
    margin-top: 0px;
  }

}



/*====================================================================
pre-loader
====================================================================*/

.invissible{
  visibility: hidden;
  display: block;  
}

#preloader{
  text-align: center;

  position: relative;
  top: 45%;
}

.loader-para{
  text-align: center;
  font-size: 21px;
  font-weight:500;
  color: #2f3545;
}

/* From uiverse.io by @mobinkakei */
.loader {
  --path: #2f3545;
  --dot: #28ee56;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

 